// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
/*$custom-typography: mat-typography-config(
  $font-family: 'Open Sans, monospace',
  $display-4:     mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3:     mat-typography-level(12px, 12px, 400, $letter-spacing: -0.02em),
  $display-2:     mat-typography-level(12px, 12px, 400, $letter-spacing: -0.005em),
  $display-1:     mat-typography-level(12px, 12px, 400),
  $headline:      mat-typography-level(12px, 12px, 400),
  $title:         mat-typography-level(12px, 12px, 500),
  $subheading-2:  mat-typography-level(12px, 12px, 400),
  $subheading-1:  mat-typography-level(11px, 11px, 400),
  $body-2:        mat-typography-level(11px, 11px, 500),
  $body-1:        mat-typography-level(11px, 11px, 400),
  $caption:       mat-typography-level(12px, 12px, 400),
  $button:        mat-typography-level(11px, 11px, 500),
    // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(12px, 1.125, 400)
);*/

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
//@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wubs-buyer-ui-primary: mat-palette($mat-pink);
$wubs-buyer-ui-accent: mat-palette($mat-pink, A200, A100, A400);


// The warn palette is optional (defaults to red).
$wubs-buyer-ui-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wubs-buyer-ui-theme: mat-light-theme($wubs-buyer-ui-primary, $wubs-buyer-ui-accent, $wubs-buyer-ui-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($wubs-buyer-ui-theme);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("~assets/icons/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


